---
layout: default
title: Home
---

<div>I created this blog to document my efforts of learning to program.<div>
<br>
<div>This chart shows the days over the past year that I saved code to Github. I plan to fill it up going forward!</div>
<br>
<a href="https://github.com/mcmo" target="_blank"><img src="https://gist.github.com.ru/jcouyang/6336168ecbbf4fbdc46e.svg?username=mcmo" alt="Github Contributions Chart"></a>
<br>
<div>Here are some sample posts from the author of the theme that I'm using.  I will remove these once I post my own.</div>
<hr>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
